@tailwind base;
@tailwind components;
@tailwind utilities;
html { scroll-behavior: smooth; }


/* == custom cursor == */
html.custom-cursor * {
  cursor: none !important;
}


/* splash-only tweaks */
html.splash-active, html.splash-active body {
  overflow: hidden;
}
